<h4 class="text-center">Registration Form</h4>
<div class="container">
	<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
    <!-- First name -->
    <div class="form-group">
			<label for="firstName">First Name</label>
      <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
      <small class="form-text  "
        *ngIf="registrationForm.controls.firstName.touched && registrationForm.controls.firstName.errors?.required">
        First Name should be 3-16 Alphabets.!
      </small>
    </div>
    <!-- Last name -->
    <div class="form-group">
			<label for="lastName">Last Name</label>
      <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name"
        minlength="3" maxlength="16" required>
      <small class="form-text  " 
        *ngIf="registrationForm.controls.lastName.touched && registrationForm.controls.lastName.errors?.required">
        Last Name should be 3-16 Alphabets.!
      </small>
    </div>
    <!-- Mail -->
		<div class="form-group">
			<label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Email">
      <small class="form-text  " 
        *ngIf="registrationForm.controls.email.touched && registrationForm.controls.email.errors?.required">
          Please enter email address.!
      </small>

      <small class="form-text  "
      *ngIf="registrationForm.controls.email.touched && registrationForm.controls.email.errors?.email">
        Email address not well formed.!
      </small>
    </div>

    <!-- Mobile -->
    <div class="form-group">
      <label for="mobile">Mobile Number</label>
      <input type="number" class="form-control" formControlName="mobile" placeholder="Mobile Number">
      <small class="form-text   invalid-feedback" 
        *ngIf="registrationForm.controls.mobile.touched">
        Mobile Number should start with 7 or 8 or 9 and it will be 10 digits
      </small>
    </div>

    <!-- Password -->    
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password">
    </div>

    <!-- Confirm Password -->
    <div class="form-group">
      <label for="password1">Confirm Password</label>
      <input type="password" class="form-control" formControlName="password1" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid">Submit</button>
  </form>
</div>